.chat-main__messageList{data: {message: {id: message.id}}}
  .chat-main__messageList__userName
    = message.user.name
    .chat-main__messageList__userName__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__messageList__message
    - if message.content.present?
      %p.chat-main__messageForm__inputSpace__text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?