
-# ====================side-bar=========================

.side-bar
  .side-bar__header
    .side-bar__header__name
      .side-bar__header__name__nameName 
        masa
      
      .side-bar__header__name__Icon 
        .side-bar__header__name__Icon__edit
          = link_to "#" do
            %i.fa.fa-edit
        .side-bar__header__name__Icon__cog
          = link_to "#"  do
            %i.fa.fa-cog 


  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません  
    
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません
    
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません


  









  
   

      
  
