
-# ====================side-bar=========================

.side-bar
  .side-bar__header
    .side-bar__header__name
      = current_user.name
      .side-bar__header__name__nameName 
      .side-bar__header__name__Icon 
        .side-bar__header__name__Icon__edit
          = link_to "#" do
            %i.fa.fa-edit
        .side-bar__header__name__Icon__cog
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog 

          -# = link_to "#"  do
          -#   %i.fa.fa-cog 

  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません  
    
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません
    
      .side-bar__groups__group__groupName
        techcamp
      .side-bar__groups__group__message
        まだメッセージがありません


  









  
   

      
  
